@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap');

.info-banner {
    display: flex;
    height: 8rem;
    position: relative;
    background-image: url(/src/assets/homebanner.jfif);
    background-size: cover;
}

.info-banner h1 {
    display: flex;
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
    z-index: 1;
    color: #ffff;
    position: absolute;
    margin: 0;
    left: 15%;
}

.info-content {

    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 50px;
    text-align: center;
}

.info-content h1 {

    text-align: center;

}
