@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap');

.lineups-banner {
    display: flex;
    height: 8rem;
    position: relative;
    background-image: url(/src/assets/homebanner.jfif);
    background-size: cover;
}

.lineups-banner h1 {
    display: flex;
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
    z-index: 1;
    color: #ffff;
    position: absolute;
    margin: 0;
    left: 15%;
}

.agents-filter {
    color: #ffff;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.filter-text-box {
    height: 80px;
    background-color: #0a0e13;
    border-right: 1px solid #122b2e;
    border-top: 1px solid #122b2e;
    border-bottom: 1px solid #122b2e;
}

.filter-text {
    font-family: 'Oswald', sans-serif;
    position: relative;
    top: 50%;
    left: 10%;
    width: 90%;
}

.filter-content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overscroll-behavior: contain;
    position: relative;
    align-content: flex-start;
    height: calc(100vh - 313px);
    scrollbar-width: none;
}

.filter-content > * {
    color: white;
    background-color: #273237;
    border-color: #122b2e;
    border-style: solid;
    padding: 6px 24px 6px 14px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: left;
    transition: background-color 0.8s ease-out -0.4s;
    cursor: pointer;
}

.lineups-content {
    display: grid;
    grid-auto-flow: row;
    position: absolute;
    grid-template-columns: 1fr 5fr;
    width: 100%;
    height: calc(100vh - 313px);
}

.lineups-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
    background-color: #0a0e13;
}

.card {
    background-color: black;
    font-family: 'Oswald', sans-serif;
    outline: 1px solid white;
    border-radius: 30px;
    color: white;
    height: 100%;
    width: 100%;
    
}


.card a:visited, a:link {

    color: maroon;

}

.card header {

    text-align: center;

}

.lineups-pages {

    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-end: 5;
    grid-row-end: 4;
    background: transparent;
}

.lineups-pages-btn-prev {

    color: white;
    font-size: 100%;
    background-color: transparent;
    height: 20px;
    width: 20px;
    border-style: none;

}

.lineups-pages-btn-next {

    color: white;
    font-size: 100%;
    background-color: transparent;
    height: 20px;
    width: 20px;
    border-style: none;

}


.lineups-page-number {
    color: white;
    font-size: 30px;
    padding: 2rem;
    margin: 0.5rem;
    border-radius: 20px;
}

body {
    background-color: #0a0e13;
}