.val__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
        /* ff 3.6+ */
    background:-moz-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 24%, rgba(0, 0, 0, 1) 34%, rgba(50, 6, 6, 1) 100%); 

        /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 24%, rgba(0, 0, 0, 1) 34%, rgba(50, 6, 6, 1) 100%);
    
        /* opera 11.10+ */
    background:-o-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 24%, rgba(0, 0, 0, 1) 34%, rgba(50, 6, 6, 1) 100%);
    
        /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#320606', endColorstr='#000000', GradientType=0 );
    
        /* ie 10+ */
    background:-ms-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 24%, rgba(0, 0, 0, 1) 34%, rgba(50, 6, 6, 1) 100%);
    
        /* global 94%+ browsers support */
    background:linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 24%, rgba(0, 0, 0, 1) 34%, rgba(50, 6, 6, 1) 100%);
    
    
}

.val__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.val__navbar-links-logo {
    display: flex;
    margin-right: 2rem;
    border: 0px;
}

.val__navbar-links-logo img {
    width: 80px;
    height: 80px;
}

.val__navbar-links-container {
    display: flex;
    flex-direction: row;
}

.val__navbar-links-container > p {
    padding-bottom: 12px !important;
    margin-bottom: 0px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 3px;
    border-radius: 0px;
    border-style: solid;
    border-color: transparent;
    transition: all 0.2s;
}

.val__navbar-upload {
    padding-bottom: 12px !important;
    margin-bottom: 0px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 3px;
    border-radius: 0px;
    border-style: solid;
    border-color: transparent;
    transition: all 0.2s;
}


.val__navbar-links-container > p:hover {
    border-color: red;
}

.val__navbar-upload:hover {
    border-color: red;
}

.val__navbar-links-container p {
    font-family: var(--font-family);
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    line-height: 50px;
    cursor: pointer;
    border-radius: 0px;
    text-decoration: none !important;
    padding: 0 2rem;
}

.val__navbar-upload {
    font-family: var(--font-family);
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    line-height: 50px;
    cursor: pointer;
    border-radius: 0px;
    text-decoration: none !important;
    padding: 0 2rem;
    background-color: transparent;
    margin-top: 1em;
}

.val__navbar-links-container p:hover {
    transform: translateZ(100px);
    backface-visibility: hidden;
    
}

.val__navbar-upload button:hover {
    transform: translateZ(100px);
    backface-visibility: hidden;
    
}